{% extends 'base.html.twig' %}

{% block header_style %}
    
{% endblock %}

{% block header_img %}
    <img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">
{% endblock %}

{% block body %}
    <div style="height: 10vh;"></div>
        {% for task in tasks %}
        <div style="margin-top: 2%; margin-bottom: 2%;">
            <h3 style="width: 60%;margin: auto;">
                <a href="{{ path('task_edit', {'id' : task.id }) }}" >{{ task.title }}</a>
            </h3>
            <div style="width: 50%;margin: auto;display: flex;justify-content: space-between;">
                <p>{{ task.content }}</p>
                <div style="display:flex;">
                    <form action="{{ path('task_toggle', {'id' : task.id }) }}" >
                        <button class="btn" href="">
                            {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                        </button>
                    </form>
                    <form action="{{ path('task_delete', {'id' : task.id }) }}">
                        <button class="btn" >
                            delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {#<div class='row'>
            <div class="col-sm-12 col-lg-12 col-md-12">
                <div class="thumbnail">
                    <div class="caption">
                        <h4 class="pull-right">
                            {% if task.isDone %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
                        </h4>
                        <h4><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                        <p>{{ task.content }}</p>
                    </div>
                    <div>
                        <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                            <button class="btn btn-success btn-sm pull-right">
                                {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                            </button>
                        </form>
                        <form action="{{ path('task_delete', {'id' : task.id }) }}">
                            <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>#}
        <div style="height: 2vh;"></div>
        {% else %}
            <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel" style="margin-top: 5%;">
                <!-- Overlay -->
                <div class="overlay"></div>

                <!-- Wrapper for slides -->
                <div >
                    <div class="item slides">
                        <div class="slide-2"></div>
                        <div class="hero">        
                            <hgroup>
                                <h1 style="font-size: 3em;">
                                    Pas encore de tâches ?
                                </h1>
                            </hgroup>
                            <a class="btn" href="{{ path('task_create') }}">Créer une première tâche</a>
                        </div>
                    </div>
                </div> 
            </div>
        {% endfor %}
        
        
        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel" style="margin-top: 5%;">
            <!-- Overlay -->
            <div class="overlay"></div>

            <!-- Wrapper for slides -->
            <div >
                <div class="item slides">
                    <div class="slide-2"></div>
                    <div class="hero">        
                        <hgroup>
                            <h1 style="font-size: 2em;">
                                D'autres choses à faire ?
                            </h1>
                            <br>
                        </hgroup>
                        <a class="btn" href="{{ path('task_create') }}">Créer une nouvelle tâche</a>
                    </div>
                </div>
            </div> 
        </div>                
{% endblock %}
